/* navbaar styling */
body{
    margin:0px;
    padding:0px;
}
.navbar{

    background-color:black;
    width:1050px;
    height:40px;
    /* align-items: center; */
    
 }
a{
    margin-right :25px; 
    color:white;
    margin-right:137px;
    text-align:center;
    text-decoration:none ;

} 
#amazon{
    color:rgb(241, 159, 6);
    margin-top:10px;
}
button{
    background-color:orange;
    color:white;
    font-weight:bold;
    border-radius: 3px;
}
input{
    border-radius:5px;
    width: auto;
}
.content-item{
    margin-top:20px;
    height:100px;
    width:100px;
    border:5px solid black;
    background-color:black;
    display:inline-block;

}
footer{
    background-color:black;
    color:white;
    text-align: center;
}
#content-box{
    height:490px;
    align-items: center;
}